p {
    display: inline-block;
    font-size: 20px;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: #4a6aba;
}

a:hover {
    color: #3050a1;
    text-decoration: underline;
}

.main-sublinks {
    margin-top: 150px;
}

table span {
    rotate: 45deg;
    border-radius: 50%;
    background-color: #111;
    margin-left: 20px;
    padding: 5px;
    font-size: 25px;
    opacity: 0;
    display: none;
}

@media screen and (max-width: 768px) {
    p {
        font-size: 1rem;
        margin: 10px;
        padding: 5px 10px;
        border-radius: 10px;
    }

    .main-sublinks {
        margin-top: 100px;
    }

    table span {
        font-size: 20px;
        margin-left: 10px;
        padding: 3px;
    }
}