@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
    --royal-blue: #4169e1;
    --dark-blue: #2c3e50;
    --light-gray: #f0f0f0;
    --white: #fff;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: var(--light-gray);
    color: var(--dark-blue);
}

#scroll-container {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin-top: 80px;
}

.sidebar {
    width: auto;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.sidebar-link {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: var(--dark-blue);
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.sidebar-link:hover,
.sidebar-link.active {
    background-color: var(--royal-blue);
    color: var(--white);
}

.content {
    position: absolute;
    top: 200px;
    left: 300px;
    width: 50%;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.news-year {
    margin-bottom: 2rem;
}

.news-year h2 {
    font-family: "Merriweather", serif;
    font-size: 1.5rem;
    color: var(--royal-blue);
    margin-top: 0;
}

.news-year ul {
    list-style-type: none;
    padding: 0;
}

.news-year li {
    margin-bottom: 0.5rem;
}
