table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

.report-page {
    width: 70%;
    margin: auto;
}

tr,
th,
td {
    text-align: center;
}

th,
td {
    padding: 8px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.subheader {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

.click-here {
    text-align: center;
    margin-top: 20px;
}

.berkshire-click-here {
    width: 50%;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 100px;
}

table a {
    font-size: 14px;
    text-decoration: none;
    color: #0073e6;
    padding: 8px 2rem;
}

a:hover {
    text-decoration: underline;
}
